@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
#beginning {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

#sendbutton {
  font-size: 15px;
  color: #ffffff;
  align-items: center;
  background-color: #848484;
  padding: 5px 10px;
  border: none;
}

#boxarea {
  font-size: 15px;
  align-items: center;
}